<nav>

    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="user-profile-navimage-container">
        <img src="{{image}}" class="user-profile-navimage">
    </div>

    
    <ul class="nav_links">
        <li><a href="/dashboard"><svg width="80" height="81" viewBox="0 0 80 81" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g id="home 1" clip-path="url(#clip0)">
                        <path id="Vector"
                            d="M72.3933 33.7707V78.1888H49.2553V54.7614H30.7449V78.1888H7.60693V33.7707L39.0747 2.84683L72.3933 33.7707Z"
                            fill="#EFF0F4" />
                        <path id="Vector_2"
                            d="M72.3934 81.0002H49.2554C47.682 81.0002 46.4789 79.7819 46.4789 78.189V57.573H33.5216V78.189C33.5216 79.7821 32.3184 81.0002 30.7452 81.0002H7.60704C6.03359 81.0002 4.83057 79.7819 4.83057 78.189V33.7709C4.83057 33.0212 5.10816 32.2716 5.66353 31.7093L37.1311 0.785411C38.1492 -0.245398 39.8151 -0.245398 40.9256 0.691783L74.2444 31.6157C74.7998 32.178 75.17 32.9276 75.17 33.6773V78.0954C75.17 79.7819 73.9668 81.0002 72.3934 81.0002ZM52.0319 75.3776H69.6167V34.9892L39.1672 6.68902L10.3835 34.9892V75.3778H27.9683V54.7616C27.9683 53.1685 29.1715 51.9504 30.7448 51.9504H49.2552C50.8287 51.9504 52.0317 53.1687 52.0317 54.7616V75.3776H52.0319Z"
                            fill="#9D9ABA" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="80" height="81" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a></li>
        <li><a href="/ideas">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="search 1" clip-path="url(#clip0)">
                        <path id="Vector"
                            d="M49.3902 46.5447L38.9566 36.0433C42.1409 32.2493 44.038 27.3034 44.038 22.0189C44.038 9.89167 34.1463 0 22.019 0C9.89167 0 0 9.89167 0 22.019C0 34.1463 9.89167 44.038 22.019 44.038C27.3712 44.038 32.2494 42.1409 36.0434 38.9567L46.5448 49.3903C46.9514 49.7968 47.4933 50 47.9675 50C48.4418 50 48.9838 49.7968 49.3902 49.3903C50.2033 48.645 50.2033 47.3578 49.3902 46.5447ZM4.06505 22.019C4.06505 12.1273 12.1273 4.06505 22.019 4.06505C31.9107 4.06505 39.9729 12.1273 39.9729 22.019C39.9729 31.9107 31.9107 39.9729 22.019 39.9729C12.1273 39.9729 4.06505 31.9105 4.06505 22.019Z"
                            fill="#9D9ABA" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="50" height="50" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

            </a></li>
        <li><a href="/settings">
                <svg width="80" height="81" viewBox="0 0 80 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="settings 1">
                        <path id="Vector"
                            d="M77.0098 35.3903V45.6098C77.0098 47.6916 75.5145 49.3949 73.4584 49.6787L65.1406 51.0981L70.2808 58.1004C71.4958 59.7091 71.3089 62.0748 69.907 63.4942L62.8042 70.6858C61.9631 71.5374 60.935 71.9159 59.907 71.9159C58.9725 71.9159 58.1312 71.6321 57.3836 71.0643L50.4678 66.1438L49.0659 74.6601C48.7856 76.6472 47.1033 78.1613 45.0472 78.1613H34.9538C32.8978 78.1613 31.2155 76.6474 30.9352 74.5656L29.5333 66.1438L22.6174 71.159C21.8697 71.7268 21.0286 72.0107 20.1875 72.0107C19.1594 72.0107 18.038 71.5376 17.2903 70.7805L10.1875 63.5889C8.69218 62.1695 8.59862 59.8039 9.81361 58.1951L14.6734 51.1928L6.26221 49.7734C4.29967 49.4896 2.8042 47.7863 2.8042 45.7045V35.485C2.8042 33.4032 4.29949 31.6999 6.35559 31.4161L14.6734 29.9967L9.72005 22.9944C8.50507 21.3857 8.692 19.0201 10.0939 17.6006L17.1967 10.409C18.5986 8.89505 20.935 8.80033 22.5239 10.0305L29.4397 14.951L30.8417 6.43471C31.122 4.44764 32.8042 2.93347 34.8603 2.93347H44.9537C47.0098 2.93347 48.692 4.44746 48.9723 6.52926L50.3742 14.951L57.1967 9.93577C58.7856 8.7056 61.122 8.89487 62.5239 10.3143L69.6267 17.5059C71.122 18.9253 71.2155 21.2909 70.0005 22.8997L65.1408 29.902L73.5519 31.3214C75.5145 31.6052 77.0098 33.3085 77.0098 35.3903ZM53.7387 40.5C53.7387 32.7407 47.5704 26.4954 39.907 26.4954C32.2436 26.4954 26.0753 32.7408 26.0753 40.5C26.0753 48.2592 32.2436 54.5046 39.907 54.5046C47.5704 54.5046 53.7387 48.2594 53.7387 40.5Z"
                            fill="white" />
                        <g id="Group">
                            <path id="Vector_2"
                                d="M45.0467 81H34.9533C31.4953 81 28.5981 78.4451 28.1308 74.9439L27.4767 71.0643L24.2056 73.4299C22.9906 74.2815 21.5887 74.8493 20.1869 74.8493C18.4111 74.8493 16.542 74.0922 15.3272 72.7675L8.22439 65.576C5.79443 63.3049 5.51411 59.3306 7.57021 56.4919L9.81324 53.1799L5.7946 52.5175C2.42997 52.0444 0 49.111 0 45.6098V35.4848C0 31.9835 2.52334 29.0501 5.98136 28.577L9.81306 27.9147L7.47666 24.6027C5.42056 21.9531 5.70087 17.9789 8.13084 15.5186L15.2336 8.32702C17.4767 5.86667 21.4019 5.58286 24.2056 7.66466L27.4767 9.93573L28.1308 5.86686C28.5981 2.46034 31.4953 0 34.9533 0H45.0467C48.5047 0 51.4019 2.55489 51.8692 6.05613L52.5233 9.84118L55.7009 7.47557C58.3178 5.39377 62.2428 5.67759 64.6728 8.13793L71.7756 15.3295C74.2056 17.6006 74.4859 21.5749 72.4298 24.4136L70.1867 27.7256L74.2054 28.3879C77.5698 28.861 79.9998 31.7944 79.9998 35.2957V45.5152C79.9998 49.0165 77.4765 51.9499 74.0185 52.423L70.2801 53.0853L72.7101 56.3973C74.7662 59.1415 74.4859 63.0211 72.0559 65.4814L64.7662 72.673C63.4578 73.9977 61.682 74.7548 59.9064 74.7548C58.3176 74.7548 56.9158 74.2817 55.7009 73.3353L52.5233 71.0643L51.8692 75.1331C51.4019 78.5398 48.5047 81 45.0467 81ZM29.5328 63.3049C29.9066 63.3049 30.2805 63.3994 30.5608 63.4942C31.4953 63.8727 32.0561 64.7243 32.243 65.6705L33.6449 74.0922C33.7383 74.8493 34.2057 75.3224 34.8599 75.3224H44.9533C45.6075 75.3224 46.0747 74.8493 46.1683 74.2815L47.5702 65.6705C47.7571 64.7243 48.3179 63.8725 49.2524 63.4942C50.1869 63.1156 51.1216 63.2103 51.9627 63.778L58.8786 68.6985C59.2524 68.9823 59.4394 69.077 59.8131 69.077C60.1868 69.077 60.4672 68.9825 60.7476 68.6985L67.8503 61.5069C68.2242 61.1284 68.3176 60.2767 67.9437 59.8036L62.897 52.8013C62.3362 52.0443 62.1493 51.0034 62.5232 50.0572C62.897 49.111 63.7381 48.4485 64.6726 48.3539L72.9904 46.9345C73.7381 46.8399 74.2054 46.3667 74.2054 45.7043V35.39C74.2054 34.7277 73.7381 34.2546 73.1773 34.1599C73.1773 34.1599 73.1773 34.1599 73.084 34.1599L64.6728 32.7404C63.7381 32.5512 62.897 31.9833 62.5233 31.0372C62.1495 30.091 62.243 29.1446 62.8036 28.293L67.6634 21.2907C67.6634 21.2907 67.6634 21.1962 67.7568 21.1962C68.1306 20.7231 68.1307 19.966 67.6634 19.5875L60.4671 12.3012C60.0932 11.9226 59.2521 11.8281 58.7848 12.2066L52.0559 17.2218C51.3082 17.7897 50.2801 17.8842 49.3456 17.5057C48.4111 17.1271 47.7568 16.2755 47.6634 15.3293L46.2615 6.90757C46.1681 6.15049 45.7007 5.6774 45.0465 5.6774H34.8596C34.2054 5.6774 33.7381 6.15049 33.6446 6.7183L32.2427 15.3293C32.0557 16.2755 31.4949 17.1273 30.5604 17.5057C29.626 17.8842 28.6913 17.7895 27.8502 17.2218L20.9343 12.3013C20.9343 12.3013 20.8409 12.3013 20.8409 12.2068C20.3737 11.8283 19.626 11.8283 19.2521 12.3013L12.0557 19.5876C11.6819 19.9662 11.5885 20.8178 11.9624 21.2909L17.0091 28.3879C17.5699 29.145 17.6632 30.1859 17.2894 31.1321C16.9155 32.0784 16.0744 32.6461 15.1399 32.8353L6.82212 34.2548C6.07438 34.3493 5.60713 34.8226 5.60713 35.485V45.7045C5.60713 46.3669 6.07438 46.8399 6.63518 46.9347L15.1399 48.3541C16.0744 48.5434 16.9157 49.1112 17.2894 50.0574C17.6632 51.0035 17.5697 51.9499 17.0091 52.8015L12.1493 59.8038C12.1493 59.8038 12.1493 59.8984 12.0559 59.8984C11.682 60.3715 11.682 61.1285 12.1493 61.5071L19.3456 68.7934C19.5326 68.9827 19.9998 69.1719 20.2801 69.1719C20.5604 69.1719 20.7474 69.0774 21.0279 68.8881L28.0373 63.8729C28.4113 63.4942 28.9719 63.3049 29.5328 63.3049Z"
                                fill="#9D9ABA" />
                            <path id="Vector_3"
                                d="M39.9065 57.3435C30.7477 57.3435 23.271 49.7733 23.271 40.5C23.271 31.2266 30.7477 23.6565 39.9065 23.6565C49.0654 23.6565 56.5421 31.2266 56.5421 40.5C56.5421 49.7733 49.0654 57.3435 39.9065 57.3435ZM39.9065 29.3341C33.8318 29.3341 28.8785 34.3493 28.8785 40.5C28.8785 46.6506 33.8318 51.6659 39.9065 51.6659C45.9813 51.6659 50.9346 46.6506 50.9346 40.5C50.9346 34.3493 45.9813 29.3341 39.9065 29.3341Z"
                                fill="#9D9ABA" />
                        </g>
                    </g>
                </svg>


            </a></li>
        <li><a href="ideas/add">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="add 1" clip-path="url(#clip0)">
                        <path id="Vector"
                            d="M40.0003 77.1429C60.5137 77.1429 77.1431 60.5135 77.1431 40C77.1431 19.4866 60.5137 2.85718 40.0003 2.85718C19.4868 2.85718 2.85742 19.4866 2.85742 40C2.85742 60.5135 19.4868 77.1429 40.0003 77.1429Z"
                            fill="white" />
                        <g id="Group">
                            <path id="Vector_2"
                                d="M40.0001 80C17.9047 80 0 62.0953 0 40.0001C0 17.9049 17.9047 0 40.0001 0C62.0955 0 80.0002 17.9047 80.0002 40.0001C80.0002 62.0955 62.0953 80 40.0001 80ZM40.0001 5.7143C21.0478 5.7143 5.7143 21.0476 5.7143 40.0001C5.7143 58.9526 21.0476 74.2857 40.0001 74.2857C58.9526 74.2857 74.2857 58.9524 74.2857 40.0001C74.2857 21.0478 58.9524 5.7143 40.0001 5.7143Z"
                                fill="#9D9ABA" />
                            <path id="Vector_3"
                                d="M56.1905 37.1429H42.8572V23.8096C42.8572 22.1905 41.6191 20.9525 40.0001 20.9525C38.381 20.9525 37.1431 22.1906 37.1431 23.8096V37.1429H23.8097C22.1906 37.1429 20.9526 38.3811 20.9526 40C20.9526 41.6191 22.1908 42.8571 23.8097 42.8571H37.1431V56.1904C37.1431 57.8095 38.3812 59.0475 40.0001 59.0475C41.6192 59.0475 42.8572 57.8094 42.8572 56.1904V42.8571H56.1905C57.8097 42.8571 59.0476 41.6189 59.0476 40C59.0476 38.3811 57.8095 37.1429 56.1905 37.1429Z"
                                fill="#9D9ABA" />
                        </g>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="80" height="80" fill="white" />
                        </clipPath>
                    </defs>
                </svg>



            </a></li>
    </ul>
</nav>

<script>
    const hamburger = document.querySelector('.hamburger')
    const nav_links = document.querySelector('.nav_links')
    const links = document.querySelectorAll('.nav_links li')

    hamburger.addEventListener('click', () => {
        nav_links.classList.toggle('open')
    })
</script>