<nav class="header_color">
    <div class="nav-wrapper container">


        {{!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fa fa-bars"></i></a> --}}
        <ul class="sidenav" id="mobile-demo">
            <li><a class="nav-links" href="/dashboard"><i class="nav-icon fas fa-home header_icon"></i></a></li>
            <li><a class="nav-links" href="/ideas"><i class="nav-icon fas fa-lightbulb header_icon"></i></a></li>
            <li><a class="nav-links"href="/auth/logout"> <i class="nav-icon fas fa-sign header_icon"></i></a></li>
        </ul>

        <div class="fixed-action-btn">
            <a href="/ideas/add" class="btn-floating btn-large waves-effect waves-light red pulse scale-transition"><i
                    class="fas fa-plus"></i></a>
        </div>
        {{!-- <form  action="/ideas/search/" method="GET">
            <input class="neomorphic neomorphic--pressed" type="text" placeholder="Search.." id="title" name="title">
        </form> --}}

    </div>
</nav>