<nav class="header_color">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Rhidea</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fa fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard"><i class="fas fa-igloo header_icon"></i> Home</a></li>
            <li><a href="/ideas"><i class="fas fa-lightbulb header_icon"></i> Others Ideas</a></li>
            <li><a href="/auth/logout"> <i class="fas fa-sign header_icon"></i> Logout</a></li>
        </ul>
        {{!-- <form method="GET" action="/ideas/search/">
            <input class="neomorphic neomorphic--pressed" type="text" placeholder="Search.." id="title" name="title" value="{{idea.title}}">
        </form> --}}
        
    </div>
</nav>