<h4><i class="login-logo-icon far fa-lightbulb"></i></h4>
<br>
<h2 class="brand-login">Rhidea</h2>
<br>
<div class="section">
    <p class="lead">
        Let your ideas speak for you!
        <br>
        We let you share your idease with the world or just make it private!
    </p>
</div>
<br>
<div class="section">
    <a href="/auth/google" class="login-google">
        <i class="fab fa-google left"></i>   Log In With Google
    </a>
</div>

