<h4><i class="far fa-lightbulb"></i></h4>
<h3>Rhidea</h3>
<div class="section">
    <p class="lead">
        Let your ideas speak for you!
        <br>
        We let you share your idease with the world or just make it private!
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>

