<div class="content_container">
    <div class="greeting_text">
        <h1>Settings.</h1>
    </div>
    <p>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
    <p>Some SVG images are from <a href="https://undraw.co/">undraw.co</a></p>
</div>