body {
  background-color: #f4f3f3;
  overflow-x: hidden;
}

p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  border-radius: 50px;
  text-align: center;
}

.fa-lightbulb {
  color: #41aea9;
}

.striped {
  padding: 20px !important;
}

.responsive-table {
  padding: 20px !important;
}

.fa-small {
  font-size: 16px !important;
}

.btn-floating {
  font-size: 10px !important;
}

.bold {
  font-weight: 600;
}

.btn-float {
  margin-right: 10px;
  float: left;
}

.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
      -12px -12px 24px 0 rgba(255, 255, 255, 0.5) !important;
    font-size: 5rem;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
  }
  
  .neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5) !important;
  }

.neo{
    box-shadow:     12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

/* input[type=text] {
    width: 25% !important;
    height:30px !important;
    float: right;
    padding: 6px !important;
    padding-left: 10px !important;
    border: none;
    margin-top: 12px !important;
    margin-right: 16px;
    font-size: 17px;
    border: none !important;
    background-color: #f4f3f3 !important;
    border-radius: 999px !important;

  } */

/* Style the search field */


.img-small {
  width: 180px;
}

.header_color {
  background-color: #ffffff !important;
}

.header_icon {
  color: #41aea9 !important;
}

.fa-bars {
  color: #41aea9;
}
.brand-logo {
  color: #41aea9 !important;
}

table {
  border-radius: 20px !important;
}

tr {
  margin: 10px;
}

#radius-1 {
  border-radius: 0 0 0 20px;
}

#radius-2 {
  border-radius: 0 0 20px 0;
}

.card {
  background-color: #ffffff !important;
}
