
<div class="content_container">
    <div class="form">
        <div class="greeting_text">
            <h1>Create your new idea right here!</h1>
        </div>
        <form action="/ideas" method="POST">
            <div class="input_div">
                
                <input type="text" id="title" name="title" maxlength="30">
                <label for="title" class="label"><span class="label-content">Title</span></label>
                
            </div>

            <div class="input_div">
                
                <select id="status" name="status">
                    <option value="public" >Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status" class="label"><span class="label-content">Status</span></label>
                
            </div>
            <div class="input_div">
                
                <textarea id="description" name="description" maxlength="150" ></textarea>
                <label for="description" class="label"><span class="label-content">Description</span></label>
            </div>
            <div class="input_div">
                
                <textarea id="problem" name="problem"  maxlength="100"></textarea>
                <label for="problem" class="label"><span class="label-content">Problem (optional)</span></label>
            </div>
            <div class="input_div">
                
                <input type="text" id="tags" name="tags">
                <label for="tags" class="label"><span class="label-content">Tags (optional).</span></label>
            </div>
            <div class="form-controls">
                <input type="submit" value="Save" class="btn">
                
            </div>
        </form>
    </div>
</div>