
<div class="form">
    <h3>Add Your Idea</h3>
    <form action="/ideas" method="POST">
        <div>
            <div>
                <h5 for="title">Title of Idea</h5>
                <input type="text" id="title" name="title">
                
            </div>
        </div>

        <div>
            <div>
                <h5>Status</h5>
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                
            </div>
        </div>

        <div>
            <div>
                <h5>Whats your idea about?</h5>
                <textarea id="description" name="description"></textarea>
            </div>
        </div>

        <div>
            <div>
                <h5>What problem does it solve (optional)</h5>
                <textarea id="problem" name="problem"></textarea>
            </div>
        </div>

        <div>
            <h5 >Type in some Tags</h5>
            <input type="text" id="tags" name="tags">
            
        </div>

        <div>
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="cancel-btn-form">Cancel</a>
        </div>
    </form>
</div>