<h3>Edit Your Idea</h3>
<div class="row">
    <form action="/ideas/{{idea._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{idea.title}}">
                <label for="title">Title of Idea</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select idea.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Whats your idea about?</h5>
                <textarea id="description" name="description">{{idea.description}}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>What problem does it solve (optional)</h5>
                <textarea id="problem" name="problem"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>