
<h1>Server Error</h1>
<p>We're sorry, something went wrong
    if you were filling a form try filling the required fields 
    or if you got this error while using the app kindly contact us.
    You could also check your url or report the bug.
</p>
<a href="/dashboard" class="btn">Go to Dashboard</a>